* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

nav,
ul {
    display: flex;
    gap: 35px;
    justify-content: center;
}

nav {
    padding: 13px;
    background-color: lightskyblue;
    margin-bottom: 22px;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    justify-content: center;
}

.card {
    padding: 12px;
    max-width: 24vw;
    background-color: beige;
    border-radius: 12px;
    text-align: center;
    box-shadow:10px 10px 16px orange;
}

p{
    font-size: 13px;
    margin-top: 11px;
}