.red {
    color: red;
}

.bg-yellow {
    background-color: yellow;
}


/* #div1id {
    background-color: darkorange;
}

#div2id {
    background-color: chartreuse;
}

#span1id {
    color: blue;
} */