ul {
  display: flex;
  gap: 34px;
  background-color: black;
  padding: 23px;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a li {
  color: white;
}

.red {
  background-color: red;
  color: white;
}